:root {
  /* CSS HSL */
  --emerald: hsla(145, 71%, 47%, 1);
  --jet-black: hsla(180, 7%, 16%, 1);
  --ghost-white: hsla(227, 100%, 98%, 1);
  --amethyst: hsla(305, 41%, 47%, 1);
  --charcoal: hsla(90, 1%, 31%, 1);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

.calculator {
  background-color: var(--jet-black);
  padding: 1rem;
  border-radius: 1rem;
  max-width: 15rem;
}

.calc__screen {
  background-color: var(--charcoal);
  margin-bottom: 1rem;
  color: var(--ghost-white);
  height: 5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-align: right;
  padding-top: 1rem;
  padding-right: 1rem;
  font-size: 1.25rem;
}

.calc__buttons {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);*/
  gap: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.calc__buttons--btn {
  display: inline-block;
  padding: 0.85rem;
  border-radius: 2rem;
  height: 3.25rem;
  width: 3.25rem;
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: var(--charcoal);
  color: var(--ghost-white);
  transition: 100ms ease-in-out;
}

.calc__buttons--btn:hover {
  opacity: 0.85;
}

.calc__buttons--btn:active {
  scale: 0.9;
}

.calc__equals {
  background-color: var(--emerald);
  color: var(--charcoal);
}

.calc__clear {
  font-size: 1rem;
  display: block;
  width: 15rem;
  max-width: 100%;
  background-color: hsl(0, 80%, 64%);
  text-align: center;
  border-radius: 0.5rem;
}

.calc__clear:active {
  scale: 0.975;
}
